<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.3.1" targetFramework="net472" />
  <package id="cef.redist.x64" version="3.2272.32" targetFramework="net472" />
  <package id="cef.redist.x86" version="3.2272.32" targetFramework="net472" />
  <package id="CefSharp.Common" version="41.0.1" targetFramework="net472" />
  <package id="CefSharp.Wpf" version="41.0.1" targetFramework="net472" />
  <package id="CommonServiceLocator" version="2.0.4" targetFramework="net472" />
  <package id="EasyHttp" version="1.7.0" targetFramework="net472" />
  <package id="Google.Protobuf" version="3.11.4" targetFramework="net472" />
  <package id="JsonFx" version="2.0.1209.2802" targetFramework="net472" />
  <package id="K4os.Compression.LZ4" version="1.1.11" targetFramework="net472" />
  <package id="K4os.Compression.LZ4.Streams" version="1.1.11" targetFramework="net472" />
  <package id="K4os.Hash.xxHash" version="1.0.6" targetFramework="net472" />
  <package id="LiveCharts" version="0.6.5.0" targetFramework="net472" />
  <package id="Microsoft.Win32.Primitives" version="4.0.1" targetFramework="net472" />
  <package id="MySql.Data" version="8.0.22" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package id="OxyPlot.Core" version="2.0.0" targetFramework="net472" />
  <package id="OxyPlot.Wpf" version="2.0.0" targetFramework="net472" />
  <package id="PDFsharp" version="1.50.5147" targetFramework="net472" />
  <package id="Prism.Core" version="7.2.0.1367" targetFramework="net472" />
  <package id="Prism.Wpf" version="7.2.0.1367" targetFramework="net472" />
  <package id="SqlSugar" version="5.0.1.7" targetFramework="net472" />
  <package id="SSH.NET" version="2016.1.0" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.0.0" targetFramework="net472" />
  <package id="System.IO" version="4.1.0" targetFramework="net472" />
  <package id="System.IO.FileSystem" version="4.0.1" targetFramework="net472" />
  <package id="System.IO.FileSystem.Primitives" version="4.0.1" targetFramework="net472" />
  <package id="System.Memory" version="4.5.3" targetFramework="net472" />
  <package id="System.Net.Http" version="4.1.0" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net472" />
  <package id="System.Runtime" version="4.1.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net472" />
  <package id="System.Security.Cryptography.Algorithms" version="4.2.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Encoding" version="4.0.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Primitives" version="4.0.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.1.0" targetFramework="net472" />
  <package id="System.Text.Encoding.CodePages" version="4.0.1" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>